/* .button_play {
    width: 48px;
    height: 48px;
    border-radius: calc(48px / 2);
    border: none;
    color: rgb(82, 19, 134);
    box-shadow: 3px 3px 3px inset rgba(0, 0, 0, 0.5), 
    -3px -3px 9px inset rgb(9, 9, 104);
    transition: ease-in-out;
    background: linear-gradient(to bottom, rgb(143, 41, 134), rgb(135, 144, 163)); 
    transition: 0.6s ease;
    font-size: 24px;
}

.button_play:hover {
    transform: scale(1.1);
    color:rgb(126, 42, 42);
} */

.button_play {
    display: inline-block;
}


